html {
  background-color: #d5d5d3;
}

body {
  margin: 0px;
}

/* Add a black background color to the top navigation */
.topnav {
    position: fixed;
    background-color: #acada8;
    overflow: hidden;
    top: 0;
    width: 100%;
}
  
/* Centered section inside the top navigation */
.topnav-centered img {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
/* Right-aligned section inside the top navigation */
.topnav-right {
    padding: 30px 16px;
    cursor: pointer;
    float: right;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #40423d;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}
  
/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
      float: none;
      display: block;
  }
  
  .topnav-centered a {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
  }
}

.main-body {
  text-align: center;
  width: 50%;
  margin: 120px auto 0 auto;
}

.main-body h1, .section-header, .card-container h3 {
  font-family: 'Raleway';
}

.main-body p, .card-container p {
  font-family: 'Cabin';
}

.section-divider {
    border-top: 3px solid #bbb;
}

.by-game, .by-theme {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80%;
    margin: 0 auto;
}

.feed-card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    border-radius: 5px;
    margin: 20px;
}
  
/* On mouse-over, add a deeper shadow */
.feed-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
}
  
/* Add some padding inside the card container */
.card-container {
    padding: 2px 16px;
}

.feed-card img {
    border-radius: 5px 5px 0 0;
    width:100%;
}

.feed-select {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.feed-select:hover {
    opacity: 0.7;
}

.create-your-own {
    border: none;
    outline: 0;
    display: block;
    padding: 4px;
    color: #40423d;
    background-color: #d4c893;
    text-align: center;
    cursor: pointer;
    width: 30%;
    font-size: 18px;
    margin: 0 auto;
    transition: 0.3s;
}

.create-your-own:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  transition: 0.3s;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 34px;
  margin: 30px 16px;
}

/* Hide default HTML checkbox */
.switch input {
  display:none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #d4c893;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #f9f9f9;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #40423d;
}

input:focus + .slider {
  box-shadow: 0 0 1px #40423d;
}

input:checked + .slider:before {
  -webkit-transform: translateX(65px);
  -ms-transform: translateX(65px);
  transform: translateX(65px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.on
{
  display: none;
  color: white;
}

.off
{
  color: black;
}

.on, .off
{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}